<%# app/views/messages/index.html.erb %>
<h1 class="text-light">Messages</h1>

<% @bookings.each do |booking|%>
  <div class="text-light">
    <ul>
      <li><%= booking.package.photobooth.name %></li>
      <li><%= booking.date.strftime('%d %B %Y') %></li>
      <% if current_user.admin %>
        <li><%= booking.user.email %></li>
      <% end %>
      <li><%= link_to "chat", chat_path(booking.chat) %></li>
    </ul>
  </div>
<% end %>
