<div class="mb-3">
  <%= f.input :address, label: "Adresse de l'événement", placeholder: "Entrez l'adresse", input_html: { class: "form-control" } %>
</div>
<div class="row g-3">
  <div class="col-md-6">
    <%= f.input :date, as: :string, input_html: { data: { controller: "datepickr" } } %>
  </div>
  <div class="col-md-6">
    <%= f.input :time, label: "Heure de l'événement", as: :time, input_html: { class: "form-control" } %>
  </div>
</div>
<%= f.input :package_id, as: :hidden, value: @package.id %>
