// Le conteneur du chat doit avoir `position: relative` pour positionner la croix par rapport à lui
.chat {
  background: white;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 1px;
  max-width: 72em;

  /* Positionner le conteneur relatif */
  position: relative;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    padding: 1rem;
    min-height: 300px;
    overflow-y: auto; /* Permet le scroll vertical */
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    .form-group {
      margin-bottom: 0;
    }
  }

  /* La croix se positionne par rapport à ce conteneur */
  .close-icon {
   }

  .close-icon:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
